body {
    min-height: 100%; 
    height: 100%;
}


/*clearfixの指定。これを最初に書くとHTMLで指定したclearfixに全て対応させられる*/
.clearfix::after { 
    content: ''; 
    display: block; 
    clear: both;
}


.wrapper {
    width: 400px; 
    margin: 0 auto; 
/* wrapperクラスを中央寄せ */
}

/** header **/
.header { 
    height: 100px; 
    background-color: #141f40;
}
/** end of header **//** contents **/
.contents { 
    /*height: 250px;*/　/*この指定がよくない？*/
}

/** left **/
/*呼び出される左側のカラムのクラス*/
.left { 
    float: left;
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}
/** end of left **/


/** right **/
.right { 
    float: left; 
    width: 250px; 
    height: 250px;
    background-color: #8c2727;
}
/** end of right **/


/** end of contents **/
/** footer **/
.footer {
    height: 100px;
    background-color: #d98d30;
}
/** end of footer **/

/* reset.css*/
* {
    margin: 0;
    padding: 0;
}
